#mainNav {
  background-color: green;
    height: 50px;
    margin-top: 0px;
    display: inline-block;
    width: 100%;
}

#sideNav {
   background-color: yellow;
    width: 200px;
    position: absolute;
    height: 100%;
}

#mainContent {
  float: left;
    width: 84%;
    margin-left: 200px;
}